.name {
    color: orangered;
}

h3 {
    color: maroon;
    font-size: xx-large;
    letter-spacing: 1px;
}

p {
    color: navy;
    font-size: medium;
    font-style: italic;
}

a {
    text-decoration: none;
    color: black;
}

body {
    background-color: whitesmoke;
}

.container {
    width: 45%;
    height: fit-content;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    background-color: whitesmoke;
    margin: 12px 12px;
    border-radius: 20px;
    box-shadow: 1px 3px 6px 1px #d4d4d4;
    transition: 0.4s;
}

.container:hover {
    box-shadow: 2px 4px 7px 2px #a9a9a9;
    transform: scale(1.03);
    cursor: pointer;
}

.container img {
    height: 80%;
}

/* h2 {
    color: orangered;
    font-size: xx-large;
    letter-spacing: 2px;
} */

/* h1 {
    text-align: center;
    margin: 4.5cm;
    font-size: 200%;
    letter-spacing: 3px;
    color: white;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
} */

.box {
    margin-top: 2px;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-radius: 10px;
}

button {
    size: 100px;
    color: orangered;
    font-weight: bold;
    font-size: larger;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.container2 {
    width: 45%;
    height: fit-content;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    background-color: whitesmoke;
    margin: 12px 12px;
    border-radius: 20px;
    box-shadow: 1px 3px 6px 1px #d4d4d4;
    transition: 0.4s;
}

.container2:hover {
    box-shadow: 2px 4px 7px 2px #a9a9a9;
    transform: scale(1.03);
    cursor: pointer;
}

.container2 img {
    height: 80%;
}